.nav-1{
      display: flex;
      list-style: none;
      /* padding: 5px; */
}
.nav-1 li{
  margin: 0 20px;
  border-bottom: 2px slid white;
}
.nav-1 li:hover{
  border-bottom: 2px solid rgb(23, 23, 44);

}
.nav-1 li button:hover{
  border-bottom: 2px solid rgb(241, 241, 242);

}
hr{
  margin: 0;
  padding: 0;
  position: fixed;
}
.nav-2{
  list-style: none;
  padding: 10px;
}
.nav-2 li{
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 10px;
}
.nav-2 li:hover{
 background-color: orange;
}
.sec-1{
  background-color:#A9A9A9;

}
.col{
  padding-left: 30px;
  padding-top: 10px;

}
.col-2{
  padding: 30px;

}